<div class="row">
  <div class="col">
    <h1>Edit my recipe</h1>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="[recipe]name" value="<%= @recipe.name %>">
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <textarea class="form-control" id="description" placeholder="Enter description" name="[recipe]description" rows="10"><%= @recipe.description %></textarea>
      </div>
      <div class="form-group">
        <label for="name">Cooking time (min)</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="[recipe]cooking_time" value="<%= @recipe.cooking_time %>">
      </div>
      <div class="form-group"></div>

      <% i = 0 %>
      <% 5.times do %>
        <% i = i+1 %>
        <div class="form-group"></div>
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="ingredient">Select ingredient <%= i.to_s %></label>
            <select id="ingredient" class="custom-select" name="quantity[][ingredient_id]">
              <option selected>Ingredient</option>
              <% @ingredients.each do |ing| %>
                <option value="<%= ing.id %>" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].ingredient.id == ing.id %>><%= ing.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-2 mb-3">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity[][quantity]" value="<%= @recipe.quantities[i-1].quantity if @recipe.quantities[i-1] %>" placeholder="Quantity">
          </div>
          <div class="col-md-2 mb-3">
            <label for="unit">Unit</label>
            <select id="unit" class="custom-select" name="quantity[][unit]">
              <option selected>Unit</option>
              <option value="g" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].unit == 'g' %>>g</option>
              <option value="ml" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].unit == 'ml' %>>ml</option>
              <option value="l" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].unit == 'l' %>>L</option>
              <option value="cup" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].unit == 'cup' %>>cup</option>
              <option value="spoon" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].unit == 'spoon' %>>spoon</option>
              <option value="tea spoon" <%= 'selected' if @recipe.quantities[i-1] && @recipe.quantities[i-1].unit == 'tea spoon' %>>tea spoon</option>
            </select>
          </div>
        </div>
      <% end %>

      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>