<div class="row">
  <div class="col">
    <h1><%= @user.name %>'s recipe</h1>
  </div>
</div>
<div class="row">
  <div class="col">
      <% @user.recipes.each do |recipe| %>
        <div class="card w-50">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text"><%= recipe.description %></p>
            <% if logged_in? && current_user == @user %>
              <a href="/recipes/<%= recipe.id %>/edit" class="card-link">Edit</a>
              <form action="/recipes/<%= recipe.id %>/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            Cooking time: <%= recipe.cooking_time %> min - Author: <a href="/users/<%= @user.username %>"><%= @user.name %></a>
          </div>
        </div>
      <% end %>
  </div>
</div>
<% if logged_in? && current_user == @user %>
  <div class="btn-add-recipe">
    <a href="/recipes/add" class="btn btn-info">Add Recipe</a>
  </div>
<% end %>